# 默认自动判断文本文件
* text=auto

# Linux 上执行的脚本必须保持 LF
mvnw text eol=lf
*.sh text eol=lf

# Windows 批处理保持 CRLF
*.bat text eol=crlf
*.cmd text eol=crlf

# 二进制文件不做转换
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.jar binary
*.woff binary
*.woff2 binary
